html body{
    background-color: rgb(34, 34, 34);
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    background-size: 100%;
}

#weather-container{
    width: 33%;
    height: 33%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    text-shadow: 2px 2px 3px black;
}

#temperature{
    text-align: center;
    width: 100%;
}

#degrees{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: beige;
    text-underline-position: under;
}

#degrees:hover{
    cursor: pointer;
}

#weather-desc{
    text-align: center;
    text-transform: capitalize;
}